@model dynamic
@using CFMS.Models;
@{
    ViewBag.Title = "Dashboard";
}
<div class="row">
    <div class="col-md-6 col-lg-3 grid-margin stretch-card">
        <div class="card shadow-lg">
            <div class="card-body">
                <h1 class="font-weight-light mb-4" style="font-family:Pacifico;">@ViewBag.UserCount</h1>
                <div class="d-flex flex-wrap align-items-center">
                    <div>
                        <h4 class="font-weight-normal">Users</h4>
                        <p class="text-muted mb-0 font-weight-light">Currently Working</p>
                    </div>
                    <i class="mdi mdi-account-multiple icon-lg text-primary ml-auto">
                        <i class="fa fa-users"
                           aria-hidden="true"></i>
                    </i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 grid-margin stretch-card">
        <div class="card shadow-lg">
            <div class="card-body">
                <h1 class="font-weight-light mb-4" style="font-family:Pacifico;">@ViewBag.CourseFilesGenerated</h1>
                <div class="d-flex flex-wrap align-items-center">
                    <div>
                        <h4 class="font-weight-normal">Course Files</h4>
                        <p class="text-muted mb-0 font-weight-light">Generated</p>
                    </div>
                    <i class="mdi mdi-chart-pie icon-lg text-success ml-auto"><i class="fa fa-vote-yea"></i></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 grid-margin stretch-card">
        <div class="card shadow-lg">
            <div class="card-body">
                <h1 class="font-weight-light mb-4" style="font-family:Pacifico;">@ViewBag.CourseFilesPending</h1>
                <div class="d-flex flex-wrap align-items-center">
                    <div>
                        <h4 class="font-weight-normal">Course Files</h4>
                        <p class="text-muted mb-0 font-weight-light">Pending</p>
                    </div>
                    <i class="mdi mdi-car icon-lg text-info ml-auto"><i class="fa-solid fa-person-digging"></i></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 grid-margin stretch-card">
        <div class="card shadow-lg">
            <div class="card-body">
                <h1 class="font-weight-light mb-4" style="font-family:Pacifico;">@ViewBag.CourseFilesLeft</h1>
                <div class="d-flex flex-wrap align-items-center">
                    <div>
                        <h4 class="font-weight-normal">Course Files</h4>
                        <p class="text-muted mb-0 font-weight-light">Left</p>
                    </div>
                    <i class="mdi mdi-verified icon-lg text-danger ml-auto"><i class="fas fa-chart-pie    "></i></i>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
    </script>
}